name: Docker Image CI

on:
  workflow_dispatch:

jobs:

  build:

    runs-on: self-hosted

    steps:
    - name: Sample linux commands
      run: |
        pwd
        ls -l
        whoami
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag aks-java:$(date +%s)
